<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <title>YouTube → MP4</title>
</head>

<body>
  <div class="header">
    <header>
      <a href="/qrcode">Gerar QR code</a>
      <a href="/encurtador">Encurtador de Links</a>
      <a href="/video">YouTube → MP4</a>
    </header>
  </div>

  <div class="container-principal">
    <h1 class="titulo">YouTube → MP4</h1>
    <p class="descricao">Cole o link do YouTube e baixe o áudio em MP3.</p>
    <div class="container-input">
      <input class="video-input" type="text" id="url-input" placeholder="Cole o link do vídeo aqui..." required>
      <button class="botao-enviar-video" id="download-btn">Baixar MP3</button>
    </div>
    <div id="loader" style="display:none; color:#fff; margin-top:16px;">Processando...</div>
  </div>

  <footer>
    <p>© 2025 - Equipe Swiss</p>
  </footer>

  <script>
    const button = document.getElementById('download-btn');
    const input = document.getElementById('url-input');
    const loader = document.getElementById('loader');

    button.addEventListener('click', () => {
      const url = input.value.trim();
      if (!url) {
        alert("Por favor, cole um link válido.");
        return;
      }

      button.disabled = true;
      // loader.style.display = 'block';
      button.textContent = 'Processando...';

      const downloadUrl = `/video/download?url=${encodeURIComponent(url)}`;
      window.location.href = downloadUrl;

      setTimeout(() => {
        button.disabled = false;
        button.textContent = 'Baixar MP3';
        loader.style.display = 'none';
      }, 5000); // Apenas para visual feedback temporário
    });
  </script>
</body>

</html>