<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

    <div class="header">

        <header>
            <a href="#" target="_blank">Gerar QR code</a>
            <a href="#" target="_blank">Encurtador de Links</a>
            <a href="/video" target="_blank">Youtube2Mp4</a>
        </header>

    </div>
        <div class="container-principal">

        </div>
</body>
</html>