<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

    <div class="header">
        <header>
            <a href="/qrcode" target="_blank">Gerar QR code</a>
            <a href="/encurtador" target="_blank">Encurtador de Links</a>
            <a href="/video" target="_blank">YouTube → MP4</a>
        </header>
    </div>

    <div class="container-principal" style="flex-direction: row;">
        <a href="/qrcode" target="_blank" class="card">
            <h2>Gerador QRCODE</h2>
            <img src="../static/imgs/qrcode.png">
        </a>

        <a href="/encurtador" target="_blank" class="card">
            <h2>Encurtar Link</h2>
            <img src="../static/imgs/link.png">
        </a>

        <a href="/video" target="_blank" class="card">
            <h2>Youtube Para MP4</h2>
            <img src="../static/imgs/yt2mp4.png">
        </a>
    </div>

</body>
<footer>
    <p>© 2025 - Equipe Swiss</p>
</html>